

/*------------------------------------------------------------------ 
    IMPORT FILES 
-------------------------------------------------------------------*/

/*@import url(animate.css);
@import url(font-awesome.min.css);
@import url(magnific-popup.css);
@import url(responsiveslides.css);
@import url(timeline.css);
@import url(flaticon.css);*/

/*------------------------------------------------------------------ 
    SKELETON
-------------------------------------------------------------------*/


h2 {
	letter-spacing: 0;
	font-weight: normal;
	position: relative;
	padding: 0 0 10px 0;
	font-weight: normal;
	line-height: 120% !important;
	color: #1f1f1f;
	margin: 0
}

.text-h2-size{
	font-size: 20px;
}

h4 a {
	color: #212121;
	text-decoration: none!important;
	opacity: 1
}

h4 a:hover {
	opacity: .8
}

a {
	color: #1f1f1f;
	text-decoration: none;
	outline: none;
}

.dark_bg {
	background: #000;
}

.padding_left_right {
	padding-left: 30px;
	padding-right: 30px;
}


/*------------------------------------------------------------------ Blog -------------------------------------------------------------------*/

.blog-box {
	padding: 70px 0px;
	background-color: #f2f3f5;
}

.blog-inner {
	background: #ffffff;
	text-align: center;
	margin-bottom: 30px;
	border: 10px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, .1);
}

.blog-img {
	margin-bottom: 15px;
	overflow: hidden;
}

.blog-img img {
	transition: all 0.9s ease 0s;
}

.blog-inner:hover .blog-img img {
	-moz-transform: scale(1.5) rotate(-10deg);
	-webkit-transform: scale(1.5) rotate(-10deg);
	-ms-transform: scale(1.5) rotate(-10deg);
	-o-transform: scale(1.5) rotate(-10deg);
	transform: scale(1.5) rotate(-10deg);
}

.blog-inner a {
	border-radius: 2px;
	transition: .2s;
	letter-spacing: 1px;
	padding: 10px 18px;
	background: #57cef8;
	color: #ffffff;
}

.blog-inner a:hover {
	color: #ffffff;
}
display: flex;
justify-content: center;
}

.layout_padding {
	padding-top: 75px;
	padding-bottom: 75px !important;
	margin-bottom: 75px !important;
}

.heading_main h2 {
	font-size: 40px;
	font-weight: 700;
	padding: 0 0 15px 0;
	margin: 0 0 30px 0;
	font-family: 'Raleway', sans-serif;
	position: relative;
	background-image: url(../img/heading_main_border.png);
	background-position: left bottom;
	background-repeat: no-repeat;
}

.heading_main h2 span {
	color: #095a83;
}

.heading_main p.large {
	font-size: 20px;
	color: #605f5f;
	position: relative;
	padding: 0;
	font-weight: 500;
	margin: 0;
}

.heading_main p {
	font-family: 'Raleway', sans-serif;
}

.heading_main p.small_tag {
	color: #000;
	font-size: 18px;
	text-transform: uppercase;
	line-height: normal;
	font-weight: 600;
	margin: 0;
}

.heading_main.text_align_center {
	width: 100%;
	justify-content: center;
	margin-bottom: 20px;
}

.center {
	display: flex;
	justify-content: center;
}

p.section_count {
	font-size: 155px;
	margin: 0 45px 0 0;
	color: #cccac5;
	font-weight: 400;
	line-height: 70px;
}

.padding_0 {
	padding: 0;
}

.full {
	float: left;
	width: 100%;
	border-radius: 8px;
}

.heading_main {
	float: left;
	display: flex;
}

.theme_bg {
	background: #07528d;
}

h3.small_heading {
	font-size: 35px;
	font-weight: 600;
	line-height: normal;
}

.margin-bottom_30 {
	margin-bottom: 30px;
}

.inner_page .top-header {
	position: relative;
}

.inner_page .inner_page_header {
	background: #1f1f1f;
	padding: 40px 0;
}

.inner_page .inner_page_header h3 {

	color: #fff;
	margin: 0;
	padding: 0;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;

}

section.inner_banner {
	min-height: 125px;
	background: #002147;
}

section.inner_banner h3 {
	margin: 0;
	font-size: 25px;
	font-weight: 600;
	letter-spacing: -1px;
	text-align: center;
	line-height: 110px !important;
	padding: 0;
	color: #fff;
}

.blog_img_popular {
	margin-bottom: 30px;
}

.blog_img_popular h2 {
	width: 86%;
	background: #fff;
	margin: 0 7%;
	padding: 0;
	color: #095a83;
	text-align: center;
	font-size: 24px;
	min-height: 70px;
	line-height: 70px !important;
	box-shadow: 0 0 25px 0 rgba(0,0,0,.2);
	margin-top: -35px;
}


.blog_img_popular p {
	color: #000;
	text-align: center;
	font-size: 18px;
	width: 86%;
	margin: 0 7%;
	line-height: 24px;
	margin-top: 25px;
}

.text_align_right {
	text-align: right;
}

.float-right_img img {
	float: right;
}


.img-responsive {
	max-width: 100%;
	border-radius: 8px !important; 
	box-shadow: 0 20px 27px 0 rgba(0,0,0,0.2)  !important;
	height: 250px;
}

.img-responsive-2{
	max-width: 100%;
	height: 250px;
}

.semi_boton{
  font-weight: 200;
  color: #4A4A4A;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: #0E99BB;
  border: 1px solid #0E99BB;
  padding: 1px;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

a:hover.semi_boton {
  color: white;
  text-decoration: underline;
}

a.semi_boton {
  color: white;
}



/*************************************************************************************************************************************************/
.carousel a.carousel-control-prev.cursos{
	background: #2c8cf4;
  opacity: 1;
  width: 55px;
  height: 50px;
  border-radius: 0;
  top: 40%;
  left: -80px;
}

.carousel a.carousel-control-next.cursos{
	background: #2c8cf4;
	opacity: 1;
	width: 50px;
	height: 50px;
	border-radius: 0;
	top: 40%;
	right: -80px;
}

#demo {
	margin-bottom: 20px;
}

#demo .img-responsive {
	width: 100%;

}


@media (max-width: 767px) {
	.carousel a.carousel-control-prev.cursos {
	  left: 20px;
	}

	.carousel a.carousel-control-next.cursos {
	  right: 20px;
	}

	.texto_banner{
		font-size: 13px !important;
	}
}


.icon {
  width: 1em;
  height: 1em;
  vertical-align: -.125em;
}


/****************************************************************************************/
/*  STYLE PARA BOTON WPP */
.floating-wpp{position:fixed;bottom:15px;left:15px;font-size:14px;transition:bottom .2s}.floating-wpp .floating-wpp-button{position:relative;border-radius:50%;box-shadow:1px 1px 4px rgba(60,60,60,0.4);transition:box-shadow .2s;cursor:pointer;overflow:hidden}.floating-wpp .floating-wpp-button img,.floating-wpp .floating-wpp-button svg{position:absolute;width:100%;height:auto;object-fit:cover;top:50%;left:50%;transform:translate3d(-50%,-50%,0);border-radius:50%}.floating-wpp:hover{bottom:17px}.floating-wpp:hover .floating-wpp-button{box-shadow:1px 2px 8px rgba(60,60,60,0.4)}.floating-wpp .floating-wpp-popup{border-radius:6px;background-color:#e5ddd5;position:absolute;overflow:hidden;padding:0;box-shadow:1px 2px 8px rgba(60,60,60,0.25);width:0;height:0;bottom:0;opacity:0;transition:bottom .1s ease-out,opacity .2s ease-out;transform-origin:bottom}.floating-wpp .floating-wpp-popup.active{padding:0 12px 12px 12px;width:260px;height:auto;bottom:82px;opacity:1}.floating-wpp .floating-wpp-popup .floating-wpp-message{background-color:white;padding:8px;border-radius:0 5px 5px 5px;box-shadow:1px 1px 1px rgba(0,0,0,0.15);opacity:0;transition:opacity .2s}.floating-wpp .floating-wpp-popup.active .floating-wpp-message{opacity:1;transition-delay:.2s}.floating-wpp .floating-wpp-popup .floating-wpp-head{text-align:right;color:white;margin:0 -15px 10px -15px;padding:6px 12px;display:flex;justify-content:space-between;cursor:pointer}.floating-wpp .floating-wpp-input-message{background-color:white;margin:10px -15px -15px -15px;padding:0 15px;display:flex;align-items:center}.floating-wpp .floating-wpp-input-message textarea{border:1px solid #ccc;border-radius:4px;box-shadow:none;padding:8px;margin:10px 0;width:100%;max-width:100%;font-family:inherit;font-size:inherit;resize:none}.floating-wpp .floating-wpp-btn-send{margin-left:12px;font-size:0;cursor:pointer}.floating-wpp-avatar{vertical-align:middle;width:50px;height:50px;border-radius:50%;margin:10px 0 10px 10px}.floating-wpp-avatar-info{color:white;margin:10px 80px 0 10px;text-align:left}.floating-wpp-avatar-name{font-weight:bold;font-size:16px}

/****************************************************************************************/

.floating-wpp{
	position:fixed;
	width:60px;
	height:60px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.floating-wpp:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

img.btn-whatsapp {
display: block !important;
position: fixed;
z-index: 9999999;
bottom: 20px;
right: 20px;
cursor: pointer;
border-radius:100px !important;
}
img.btn-whatsapp:hover{
border-radius:100px !important;
-webkit-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1); 
-moz-box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
box-shadow: 0px 0px 15px 0px rgba(7,94,84,1);
transition-duration: 1s;
} 